name: Deploy to AWS
on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AKIASM4B6XZUWPE5CP7Z }}
          aws-secret-access-key: ${{ secrets.YmIDbrZBk/vD4OzRH5Bkuxm35+IUpt1N04h+3QR0 }}
          aws-region: ap-east-1
      
      - name: Sync files to S3
        run: aws s3 sync ./ s3://${{ secrets.bucketdiscordeboy }} --delete --exclude ".git/*" --exclude ".github/*"
      
      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.E2D5O660BEFD40 }} --paths "/*"
